.form{
    background-color: $darkBlackColor;
    padding: 30px 0;
    .form__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 70px;
        .form__title{
            color: #fff;
            text-transform: capitalize;
            font-weight: bold;
            font-size: 26px;
        }
        .form__input{
            padding: 11px 29px;
            border: none;
            outline: none;
            border-radius: 8px;
        }
    }
    
}